@font-face {
  font-family: "СenturyGothic";
  src: url("../fonts/СenturyGothic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "СenturyGothic";
  src: url("../fonts/СenturyGothic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}