@import 'variables';
@import 'fonts';
@import 'mixins';

* {
  font-family: "Century Gothic";
}

.header {
  padding: 10px 0;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $main-color;
    border-radius: 10px;
  }
  &__link {
    font-size: 32px;
    text-decoration: none;
    color: $hover-color;
    transition: all .2s;
    &:hover {
      color: $main-color;
    }
  }
}

.promo {
  background-color: #E6FFFF;
  @include section;
  @include mb;
  &__title{
    color: $main-color;
    font-size: 140px;
    font-weight: bold;
  }
  &__subtitle {
    text-align: center;
    font-size: 40px;
  }
}

.title {
  @include title
}

.about {
  background-color: #D4F6CF;
  @include section;
  @include mb;
  &__text {
    font-size: 38px;
  }
}

.pluses {
  background-color: #E6FFFF;
  @include section;
  @include mb;
}

.screenshots {
  background-color: #D4F6CF;
  @include section;
  @include mb;
}

.app {
  background-color: #E6FFFF;
  @include section;
  @include mb;
}
.up {
  width: 60px;
  height: 60px;
  background-color: $main-color;
  border-radius: 100%;
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 40px;
  line-height: 29px;
  text-align: center;
  transition: all 0.5s;
  img {
    width: 60px;
    height: 60px;
  }
}

@import 'media';